*{margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;}
.main{height: 100vh; background-image: linear-gradient(45deg, black,#222);}
.calculadora{
    box-shadow: 5px 5px 5px 5px #222;
    border: 0; 
    position:absolute; 
    background-image: linear-gradient(45deg, black, purple);
    color:#fff;
    border-radius: 10px; 
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
}
.btn{
    background-image: linear-gradient(0deg,#555,#222);
    border: 0;
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    color: #fff;
}
.btn:hover{background-image: linear-gradient(0deg,#222,#555);}
.btn:active{transform:scale(0.9,0.9);}
.tela{width: 200px; height: 30px; background-color: #888; text-align: right; padding: 5px; color:#000;}